.title {
  margin: 0;
  font-family: $main-font;
  font-weight: 600;
  color: var(--blue100);
  text-transform: uppercase;
}

.title--small {
  font-size: 20px;

  @include media-min ($md) {
    font-size: 32px;
  }

  @include media-min ($lg) {
    font-size: 40px;
  }

  @include media-min ($xl) {
    font-size: 44px;
  }
}

.title--large {
  font-size: 24px;

  @include media-min ($md) {
    font-size: 40px;
  }

  @include media-min ($xl) {
    font-size: 44px;
  }
}