.first-screen {
  background: linear-gradient(180deg, #0B58C5 0%, #003B95 70%);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;


  &::before {
    content: '';
    background-image: url(../img/background-header.png);
    position: absolute;
    top: 0;
    left: 0;
    background-size: 947px 191px;
    width: 100%;
    height: 191px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.04;
    pointer-events: none;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);

    @include media-min ($md) {
      background-size: 951px 631px;
      height: 469px;
      width: 690px;

    }

    @include media-min ($lg) {
      background-size: 813px 546px;
      height: 420px;
      width: 929px;
    }

    @include media-min ($xl) {
      background-size: 1310px 850px;
      height: 727px;
      width: 100%;
    }
  }

  @include media-min ($md) {
    padding-top: 110px;
  }

  @include media-min ($lg) {
    padding-top: 135px;
  }

  @include media-min ($xl) {
    padding-top: 140px;
  }

  &__slider {
    position: relative;

    @include media-min ($md) {
      order: 1;
    }
  }

  &__block {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 28px;
    color: #f6f7f7;
    font-weight: 700;
    max-width: 917px;

    @include media-min ($md) {
      font-size: 54px;
    }

    @include media-min ($lg) {
      font-size: 64px;
    }

    @include media-min ($xl) {
      font-size: 80px;
    }
  }

  &__btn {
    display: none;
    background: linear-gradient(-10deg, #0B58C5 10%, #003B95 100%);
    padding: 20px 65px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 20px;

    @include media-min ($md) {
      display: flex;
    }

    @include media-min ($lg) {
      padding: 25px 80px;
      font-size: 28px;
    }

    @include media-min ($xl) {
      padding: 25px 85px;
      font-size: 32px;
    }
  }


  &__slide {
    --slider-background: rgba(0, 0, 0, 1);

    border-image: fill 0 linear-gradient(var(--slider-background), var(--slider-background));
    height: 237px;


    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.6;
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: var(--black);
    //   opacity: 0.6;
    // }

    @include media-min ($md) {
      height: 458px;
    }

    @include media-min ($lg) {
      height: 521px;
    }

    @include media-min ($xl) {
      height: 691px;
    }
  }


  &__swiper {
    --slider-background: rgba(0, 0, 0, 0.2);
    border-image: fill 0 linear-gradient(var(--slider-background), var(--slider-background));
  }

}
