.trend-direction {
  color: #083E92;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    @include media-min ($md) {
      margin-bottom: 38px;
    }

    @include media-min ($lg) {
      margin-bottom: 51px;
    }

    @include media-min ($xl) {
      margin-bottom: 35px;
    }
  }

  &__link {
    display: none;

    @include media-min ($md) {
      display: block;
    }
  }

  &__swiper {
    height: 200px;

    @include media-min ($md) {
      height: 241px;
    }

    @include media-min ($md) {
      height: 345px;
    }

    @include media-min ($xl) {
      height: 272px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    background: #d9d9d9;
    overflow: hidden;
    border-radius: 13px;
    flex-grow: 1;
  }

  &__top-item {
    border: 1px solid #083e92;
    border-radius: 5px;
    min-width: 91px;
    min-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 14px 9px 14px 9px;

    @include media-min ($md) {
      min-width: 161px;
      min-height: 25px;
    }

  }

  &__descr {
    font-size: 12px;
    margin-top: 15px;

    @include media-min ($lg) {
      font-size: 16px;
    }

    @include media-min ($lg) {
      margin-top: 20px;
      font-size: 18px;
    }
  }
}

.swiper-slide-active .trend-direction__top-item {
  background-color: #083e92;
}