.card {
  position: relative;
  max-width: max-content;

  &::after {
    content: attr(data-rating);
    position: absolute;
    top: -10px;
    right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='48' viewBox='0 0 30 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.583496 0H29.9724V47.2778L15.5974 34.5L0.583496 47.2778V0Z' fill='%23083E92' /%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 9px;

    @include media-min ($md) {
      top: -13px;
      right: 41px;
      width: 42px;
      height: 67px;
      background-size: 42px 67px;
      font-size: 21px;
      padding-top: 11px;
    }

    @include media-min ($xl) {
      top: -15px;
      right: 47px;
      width: 46px;
      height: 74px;
      background-size: 46px 74px;
      font-size: 24px;
      padding-top: 15px;
    }
  }

  &__inner {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #083e92;
    width: 100%;
  }

  &__content-top {
    width: 100%;
    height: 98px;
    overflow: hidden;

    & img {
      position: relative;
      left: 0;
      top: 50%;
      transform: translateY(-40%);
    }

    @include media-min ($md) {
      height: 136px;
    }

    @include media-min ($xl) {
      height: 153px;
    }


  }

  &__content-bottom {
    padding: 11px 17px 25px 21px;

    @include media-min ($md) {
      padding: 16px 22px 35px 30px;
    }
  }

  &__stars-rating {
    margin-bottom: 8px;
    width: calc(14 * 5);
    height: 14px;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8571 0.973877L17.1137 10.9966H27.6523L19.1264 17.191L22.383 27.2138L13.8571 21.0194L5.33126 27.2138L8.58785 17.191L0.0619793 10.9966H10.6005L13.8571 0.973877Z' fill=''/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-size: 14px 14px;

    @include media-min ($md) {
      margin-bottom: 11px;
      width: calc(19 * 5);
      height: 19px;
      background-size: 19px 19px;
    }

    @include media-min ($xl) {
      margin-bottom: 13px;
      width: calc(21 * 5);
      height: 21px;
      background-size: 21px 21px;
    }
  }

  &__item-star {
    display: block;
    width: calc(14px * var(--star-rating, 0));
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8571 0.973877L17.1137 10.9966H27.6523L19.1264 17.191L22.383 27.2138L13.8571 21.0194L5.33126 27.2138L8.58785 17.191L0.0619793 10.9966H10.6005L13.8571 0.973877Z' fill='%23083E92'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-size: 14px 14px;

    @include media-min ($md) {
      width: calc(19px * var(--star-rating, 0));
      height: 19px;
      background-size: 19px 19px;
    }

    @include media-min ($xl) {
      width: calc(21px * var(--star-rating, 0));
      height: 21px;
      background-size: 21px 21px;
    }

  }



  &__title {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 16px;

    @include media-min ($md) {
      font-size: 22px
    }

    @include media-min ($xl) {
      margin-bottom: 13px;
      font-size: 24px
    }
  }

  &__address {
    margin-bottom: 12px;

    @include media-min ($md) {
      margin-bottom: 19px;
    }

    @include media-min ($xl) {
      margin-bottom: 21px;
    }
  }

  &__list {
    margin-bottom: 15px;

    @include media-min ($md) {
      margin-bottom: 24px;
    }

    @include media-min ($xl) {
      margin-bottom: 26px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 11px;
    color: #1e1d1b;
    margin-bottom: 7px;
    padding-left: 23px;

    &:last-child {
      margin-bottom: 0;
    }

    &--date {
      &::before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7564 2.08153H10.157V1.44174C10.157 1.06125 9.84564 0.75 9.46515 0.75C9.08466 0.75 8.77353 1.06125 8.77353 1.44174V2.08153H4.25383V1.44174C4.25383 1.06125 3.94257 0.75 3.56209 0.75C3.1816 0.75 2.87034 1.06125 2.87034 1.44174V2.08153H1.27099C0.616175 2.08153 0.083374 2.61421 0.083374 3.26903V12.0412C0.083374 12.696 0.616057 13.2287 1.27099 13.2287H10.6953C11.9353 13.2287 12.9439 12.2201 12.9439 10.9801V3.26903C12.9439 2.61421 12.4112 2.08153 11.7564 2.08153ZM1.27099 3.02831H2.87117C2.88029 3.40099 3.18728 3.70313 3.56209 3.70313C3.93678 3.70313 4.24365 3.40099 4.25288 3.02831H8.77436C8.78359 3.40099 9.09034 3.70313 9.46515 3.70313C9.83996 3.70313 10.147 3.40099 10.1562 3.02831H11.7564C11.887 3.02831 11.9971 3.13861 11.9971 3.26903V5.1181H1.03016V3.26903C1.03016 3.13849 1.14046 3.02831 1.27099 3.02831ZM1.03016 12.0412V6.05008H11.9971V10.1996H10.0625L10.0483 12.2819H1.27099C1.14046 12.2819 1.03016 12.1716 1.03016 12.0412ZM10.9954 12.2456L11.003 11.1464H11.9851C11.9159 11.6858 11.5161 12.122 10.9954 12.2456Z' fill='%231E1D1B' /%3E%3C/svg%3E");
        width: 13px;
        height: 14px;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
      }
    }

    &--person {
      &::before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0509 13.7744V12.5499C13.0509 11.9004 12.7929 11.2774 12.3336 10.8181C11.8743 10.3589 11.2514 10.1008 10.6019 10.1008H5.70371C5.05418 10.1008 4.43125 10.3589 3.97196 10.8181C3.51267 11.2774 3.25464 11.9004 3.25464 12.5499V13.7744' stroke='%231E1D1B' stroke-width='1.22454' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M8.15281 7.65181C9.5054 7.65181 10.6019 6.55532 10.6019 5.20274C10.6019 3.85015 9.5054 2.75366 8.15281 2.75366C6.80022 2.75366 5.70374 3.85015 5.70374 5.20274C5.70374 6.55532 6.80022 7.65181 8.15281 7.65181Z' stroke='%231E1D1B' stroke-width='1.22454' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        width: 16px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    &--food {
      &::before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.94472 14.9457L6.90074 10.9219L8.18632 12.5794L4.56285 16.3436C3.61387 17.5625 1.85786 16.278 2.94472 14.9457ZM7.37252 6.52201C7.64018 5.63929 7.51717 4.88502 6.51142 3.76454L4.05382 0.776136C3.70505 0.362105 2.88314 0.97017 3.22651 1.47165L5.19205 3.91895C5.5638 4.37534 4.87302 4.9793 4.4891 4.50925L2.45597 1.9786C2.07746 1.53998 1.29476 2.11935 1.69084 2.62083C2.26401 3.31771 3.1508 4.45596 3.72397 5.15284C4.12141 5.5614 3.51715 6.16674 3.12512 5.65706L1.10686 3.14281C0.810811 2.8176 0.326861 3.01983 0.198438 3.3997C0.0605529 3.80553 0.399859 4.10205 0.631019 4.40266L2.88314 7.34324C3.58203 8.16174 4.36338 8.64682 5.2718 8.37217C5.41104 8.32981 5.58137 8.24372 5.76386 8.13031L12.3874 16.6046C12.7132 17.0296 13.3418 17.0746 13.75 16.7317L13.8433 16.6538C14.3029 16.2671 14.3773 15.5606 13.9839 15.1042L7.00348 7.08362C7.19003 6.87319 7.32656 6.67369 7.37252 6.52201ZM9.08528 8.24372L10.0816 7.02213C8.80004 3.811 13.549 -0.46869 15.8511 1.49898C18.648 3.89162 14.4912 9.65799 11.5699 8.23279L10.3898 9.74817L9.08528 8.24372Z' fill='%231E1D1B' /%3E%3C/svg%3E");
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    @include media-min ($md) {
      font-size: 14px;
      margin-bottom: 12px;
    }

    @include media-min ($xl) {
      font-size: 16px;
      margin-bottom: 13px;
    }
  }

  &__cost {
    font-weight: 500;
    font-size: 11px;
    color: #1e1d1b;
    margin-bottom: 2px;

    @include media-min ($md) {
      font-size: 14px;
      margin-bottom: 4px;
    }

    @include media-min ($xl) {
      font-size: 16px;
    }
  }

  &__note-person {
    font-weight: 500;
    font-size: 8px;
    color: #1e1d1b;
    margin-bottom: 18px;

    @include media-min ($md) {
      font-size: 10px;
      margin-bottom: 25px;
    }

    @include media-min ($xl) {
      font-size: 12px;
      margin-bottom: 28px;
    }
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include media-min ($md) {
      margin-bottom: 15px;
    }

    @include media-min ($md) {
      margin-bottom: 21px;
    }
  }

  &__payment-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #1e1d1b;
    margin-right: 30px;

    @include media-min ($md) {
      font-size: 16px;
    }
  }

  &__payment-sum {
    font-weight: 600;
    font-size: 15px;
    color: #1e1d1b;

    @include media-min ($md) {
      font-size: 22px;
    }

    @include media-min ($xl) {
      font-size: 24px;
    }
  }

  &__note-cancel {
    font-weight: 500;
    font-size: 10px;
    color: #1e1d1b;
    margin-bottom: 5px;

    @include media-min ($md) {
      margin-bottom: 10px;
      font-size: 12px;
    }

    @include media-min ($xl) {
      font-size: 14px;
    }
  }

  &__links-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;

    @include media-min ($md) {
      margin-bottom: 26px;
    }

    @include media-min ($xl) {
      margin-bottom: 29px;
    }
  }

  &__link-item {
    position: relative;
    display: flex;
    padding-left: 5px;
    margin-bottom: 6px;
    margin-right: 5px;

    &:first-child {
      padding-left: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 8px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #083e92;
    margin: 0;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='2' height='2' viewBox='0 0 2 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='0.638889' cy='0.638889' r='0.638889' fill='%23083E92' /%3E%3C/svg%3E");
      width: 2px;
      height: 2px;
    }


    @include media-min ($md) {
      font-size: 10px;
    }

    @include media-min ($xl) {
      font-size: 12px;
    }

    &--no-before {
      &::before {
        content: none;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;

    @include media-min ($md) {
      gap: 14px;
    }

    @include media-min ($xl) {
      gap: 16px;
    }
  }

  &__btn {
    background: linear-gradient(178deg, #083e92 9.56%, #0b58c5 100%);
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
    color: #f5f5f5;
    padding: 13px 10px;

    @include media-min ($md) {
      font-size: 20px;
      padding: 18px 10px;
    }

    @include media-min ($xl) {
      font-size: 22px;
      padding: 21px 10px;
    }

  }



}