.logo {
  width: 140px;
  display: inline-flex;

  @include media-min ($md) {
    width: 170px;
  }

  &--footer {
    display: none;

    @include media-min ($md) {
      display: block;
      width: 170px;
    }

  }

  & img {
    height: 100%;
  }
}
