.booking-rooms {
  padding: 35px 0 50px;

  @include media-min ($lg) {
    padding: 50px 0 50px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 22px;

    @include media-min ($lg) {
      font-size: 44px;
      margin-bottom: 46px;
    }
  }
}
